.Meaning h4 {
  font-size: 38px;
  line-height: 1.5;
  font-weight: bold;
  color:#161616 ;
  text-shadow: 5px 5px 10px rgb(0 0 0/30%);
}

.Meaning .example {
  color: #96968b;
  font-style: italic;
  margin-top: 12px;
  font-size: 16px;
  text-transform: capitalize;
}

.Meaning .definition {
  color: #baaa64;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
  text-transform: capitalize;
}

.Meaning .Synonyms {
  color: #548d92;
  font-size: 20px;
  font-weight: bold;
  display: block;
  margin: 0;
  margin: 15px auto;
  text-transform: capitalize;
  text-shadow: 0 1px 2px black;
}
