.Synonyms {
  margin: 15px 0 0;
  padding: 0;
}

.Synonyms button {
  font-size: 14px;
  display: inline-block;
  padding-right: 12px;
  margin: 5px;
  line-height: 1;
  color: #f05454;
  font-weight: bolder;
  background-color: rgb(240, 237, 233);
  text-transform: capitalize;
  border-inline-color: black;
  border-radius: 5px;
  font-family: 'Anybody', cursive;
  text-shadow: 1px 0 1px black;
}
